html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--accent-color: #7acc82;
	--dark-color: #000;
	--light-color: #fff;
	--error-color: rgb(227, 0, 0);
	--placeholder-color: #696969;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.woff2') format('woff2');
}

@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

body {
	margin: 0;
	background-color: var(--light-color);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: var(--dark-color);
}

.wrap {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-reset {
	border: none;
	padding: 0;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.weather {
	padding: 15px;
	max-width: 600px;
	width: 100%;
}

.weather__wrap {
	display: flex;
	flex-direction: column;
	max-height: 435px;
	min-height: 435px;
	border: 1px solid var(--dark-color);
}

.weather__search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	padding: 12px 16px;
	border-bottom: 1px solid var(--dark-color);
}

.search__input {
	border: none;
	width: 100%;
	flex-shrink: 1;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: var(--dark-color);
	transition: border 0.3s;
}

.search__input::placeholder {
	color: var(--placeholder-color);
}

.search__input:focus {
	outline: none;
	border-bottom: 1px solid black;
}

.search__btn {
	padding: 10px;
	background-image: url('../img/search-icon.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.weather__inner {
	display: flex;
	justify-content: space-between;
	height: 100%;
	flex-shrink: 0;
	flex-grow: 1;
}

.current {
	flex-basis: 50%;
	border-right: 1px solid var(--dark-color);
}

.added-locations {
	flex-basis: 50%;
}

.tabs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.tabs__content {
	height: 100%;
}

.tabs__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--dark-color);
}

.tabs__btn {
	flex-shrink: 0;
	flex-grow: 1;
	padding: 12px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: var(--dark-color);
	border-right: 1px solid var(--dark-color);
	transition-property: color, background-color;
	transition-duration: 0.4s;
}

.tabs__btn:last-child {
	border: none;
}
.tabs__btn.tabs__btn--active {
	background-color: var(--dark-color);
	color: var(--light-color);
}

.tabs-content__item {
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.tabs-content__item.tabs-content__item--active {
	display: flex;
	opacity: 1;
	visibility: visible;
	flex-shrink: 0;
	animation: slideInLeft 0.5s;
}

.now__temp {
	max-width: fit-content;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	color: var(--dark-color);
}

.now__temp::after {
	position: absolute;
	content: '';
	top: 5px;
	right: -15px;
	width: 13px;
	height: 13px;
	border: 4px solid var(--dark-color);
	border-radius: 50%;
}

.now__icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.now__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.now__city {
	font-size: 24px;
	line-height: 28px;
	color: var(--dark-color);
}

.now__favorite {
	padding: 10px;
	background-image: url('../img/favorite-icon.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.details {
	justify-content: flex-start;
}

.details__city {
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 28px;
	color: var(--dark-color);
}

.details__item {
	margin-bottom: 7px;
}

.details__item:last-child {
	margin-bottom: 0;
}

.details__value {
	padding-left: 7px;
}

.temp {
	position: relative;
}

.temp::after {
	position: absolute;
	content: '';
	top: 0px;
	right: -8px;
	width: 5px;
	height: 5px;
	border: 1px solid var(--dark-color);
	border-radius: 50%;
}

.weather__list {
	padding: 35px 20px;
}

.weather__item {
	margin-bottom: 30px;
}

.weather__item:last-child {
	margin-bottom: 0;
}

.weather__location {
	font-size: 24px;
	line-height: 28px;
	color: var(--dark-color);
}
